// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
$color :#e2deec;

body {
    height: auto;
    background-color: $color;
}

h1 {
    font-size: larger;
}

h2 {
    font-size: medium;
}

p {
    font-size: small;
}
